* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  border: 1px solid black;
  margin: 2rem;
  height: 30rem;
  position: relative;
}

.top-container {
  display: flex;
  justify-content: space-between;
  margin: 2rem;
}

.image-container {
  border: 1px solid black;
  padding: 0.2rem;
}

.image-container img {
  width: 6rem;
}

.bottom-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}
